@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/custom-font.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*Cartes*/
.carta1 {
    src: url("imatges/carta.png");
    width: 150px;
    height: 200px;
    position: relative;
}
.carta2 {
    src: url("imatges/carta.png");
    width: 150px;
    height: 200px;
    position: relative;
}
.carta3 {
    src: url("imatges/carta.png");
    width: 150px;
    height: 200px;
    position: relative;
}
